.container{
      display: flex;
      margin: 20px;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      width: 50%;
      background:rgb(240, 236, 229);
      
  }
  h1{
      margin:20px
  }
  ul{
    list-style: none;
}

  